video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  .hero-container {
    background: linear-gradient(70deg, #00467F,#A5CC82);
    color:white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero-container h1{
    transition: opacity 0.5s ease; 
    font-weight: 900;
  }

  .hero-container h1.fade {
    opacity: 1; 
  }

  
  .hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .hero-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-right img {
    max-width: 70%; /* Adjust image width if necessary */
    height: auto;
    border-radius: 15px;
  }
  
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }

  .icon {
    transition: transform 0.5s;
    }

   .icon:hover {
    transform: scaleX(-1);
  }
    
  
  .fa-play-circle {
    margin-left: 4px;
  }
  @media screen and (max-width: 960px) {
    .hero-container {
      flex-direction: column; /* Stack elements when screen width is less than 960px */
    }
  
    .hero-right img {
      max-width: 60%; /* Make image take full width on smaller screens */
      margin-right: 0; /* Remove right margin on smaller screens */
    }
  }
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
}